<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEmailRegistration" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Email Registration Service/EmailRegistration.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmailRegistration"
                contract="RemoteService.IEmailRegistration" name="BasicHttpBinding_IEmailRegistration" />
        </client>
    </system.serviceModel>
</configuration>